/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_base.scss */
body {
  background-image: url("/wp-content/themes/sass_wordpress/sass_wordpress/images/geometry.png");
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#Glyphicons Halflings") format("svg");
}
/* line 16, ../sass/base/_glyphicons.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/base/_glyphicons.scss */
.glyphicon-asterisk:before {
  content: "\2a";
}

/* line 30, ../sass/base/_glyphicons.scss */
.glyphicon-plus:before {
  content: "\2b";
}

/* line 31, ../sass/base/_glyphicons.scss */
.glyphicon-euro:before {
  content: "\20ac";
}

/* line 32, ../sass/base/_glyphicons.scss */
.glyphicon-minus:before {
  content: "\2212";
}

/* line 33, ../sass/base/_glyphicons.scss */
.glyphicon-cloud:before {
  content: "\2601";
}

/* line 34, ../sass/base/_glyphicons.scss */
.glyphicon-envelope:before {
  content: "\2709";
}

/* line 35, ../sass/base/_glyphicons.scss */
.glyphicon-pencil:before {
  content: "\270f";
}

/* line 36, ../sass/base/_glyphicons.scss */
.glyphicon-glass:before {
  content: "\e001";
}

/* line 37, ../sass/base/_glyphicons.scss */
.glyphicon-music:before {
  content: "\e002";
}

/* line 38, ../sass/base/_glyphicons.scss */
.glyphicon-search:before {
  content: "\e003";
}

/* line 39, ../sass/base/_glyphicons.scss */
.glyphicon-heart:before {
  content: "\e005";
}

/* line 40, ../sass/base/_glyphicons.scss */
.glyphicon-star:before {
  content: "\e006";
}

/* line 41, ../sass/base/_glyphicons.scss */
.glyphicon-star-empty:before {
  content: "\e007";
}

/* line 42, ../sass/base/_glyphicons.scss */
.glyphicon-user:before {
  content: "\e008";
}

/* line 43, ../sass/base/_glyphicons.scss */
.glyphicon-film:before {
  content: "\e009";
}

/* line 44, ../sass/base/_glyphicons.scss */
.glyphicon-th-large:before {
  content: "\e010";
}

/* line 45, ../sass/base/_glyphicons.scss */
.glyphicon-th:before {
  content: "\e011";
}

/* line 46, ../sass/base/_glyphicons.scss */
.glyphicon-th-list:before {
  content: "\e012";
}

/* line 47, ../sass/base/_glyphicons.scss */
.glyphicon-ok:before {
  content: "\e013";
}

/* line 48, ../sass/base/_glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014";
}

/* line 49, ../sass/base/_glyphicons.scss */
.glyphicon-zoom-in:before {
  content: "\e015";
}

/* line 50, ../sass/base/_glyphicons.scss */
.glyphicon-zoom-out:before {
  content: "\e016";
}

/* line 51, ../sass/base/_glyphicons.scss */
.glyphicon-off:before {
  content: "\e017";
}

/* line 52, ../sass/base/_glyphicons.scss */
.glyphicon-signal:before {
  content: "\e018";
}

/* line 53, ../sass/base/_glyphicons.scss */
.glyphicon-cog:before {
  content: "\e019";
}

/* line 54, ../sass/base/_glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020";
}

/* line 55, ../sass/base/_glyphicons.scss */
.glyphicon-home:before {
  content: "\e021";
}

/* line 56, ../sass/base/_glyphicons.scss */
.glyphicon-file:before {
  content: "\e022";
}

/* line 57, ../sass/base/_glyphicons.scss */
.glyphicon-time:before {
  content: "\e023";
}

/* line 58, ../sass/base/_glyphicons.scss */
.glyphicon-road:before {
  content: "\e024";
}

/* line 59, ../sass/base/_glyphicons.scss */
.glyphicon-download-alt:before {
  content: "\e025";
}

/* line 60, ../sass/base/_glyphicons.scss */
.glyphicon-download:before {
  content: "\e026";
}

/* line 61, ../sass/base/_glyphicons.scss */
.glyphicon-upload:before {
  content: "\e027";
}

/* line 62, ../sass/base/_glyphicons.scss */
.glyphicon-inbox:before {
  content: "\e028";
}

/* line 63, ../sass/base/_glyphicons.scss */
.glyphicon-play-circle:before {
  content: "\e029";
}

/* line 64, ../sass/base/_glyphicons.scss */
.glyphicon-repeat:before {
  content: "\e030";
}

/* line 65, ../sass/base/_glyphicons.scss */
.glyphicon-refresh:before {
  content: "\e031";
}

/* line 66, ../sass/base/_glyphicons.scss */
.glyphicon-list-alt:before {
  content: "\e032";
}

/* line 67, ../sass/base/_glyphicons.scss */
.glyphicon-lock:before {
  content: "\e033";
}

/* line 68, ../sass/base/_glyphicons.scss */
.glyphicon-flag:before {
  content: "\e034";
}

/* line 69, ../sass/base/_glyphicons.scss */
.glyphicon-headphones:before {
  content: "\e035";
}

/* line 70, ../sass/base/_glyphicons.scss */
.glyphicon-volume-off:before {
  content: "\e036";
}

/* line 71, ../sass/base/_glyphicons.scss */
.glyphicon-volume-down:before {
  content: "\e037";
}

/* line 72, ../sass/base/_glyphicons.scss */
.glyphicon-volume-up:before {
  content: "\e038";
}

/* line 73, ../sass/base/_glyphicons.scss */
.glyphicon-qrcode:before {
  content: "\e039";
}

/* line 74, ../sass/base/_glyphicons.scss */
.glyphicon-barcode:before {
  content: "\e040";
}

/* line 75, ../sass/base/_glyphicons.scss */
.glyphicon-tag:before {
  content: "\e041";
}

/* line 76, ../sass/base/_glyphicons.scss */
.glyphicon-tags:before {
  content: "\e042";
}

/* line 77, ../sass/base/_glyphicons.scss */
.glyphicon-book:before {
  content: "\e043";
}

/* line 78, ../sass/base/_glyphicons.scss */
.glyphicon-bookmark:before {
  content: "\e044";
}

/* line 79, ../sass/base/_glyphicons.scss */
.glyphicon-print:before {
  content: "\e045";
}

/* line 80, ../sass/base/_glyphicons.scss */
.glyphicon-camera:before {
  content: "\e046";
}

/* line 81, ../sass/base/_glyphicons.scss */
.glyphicon-font:before {
  content: "\e047";
}

/* line 82, ../sass/base/_glyphicons.scss */
.glyphicon-bold:before {
  content: "\e048";
}

/* line 83, ../sass/base/_glyphicons.scss */
.glyphicon-italic:before {
  content: "\e049";
}

/* line 84, ../sass/base/_glyphicons.scss */
.glyphicon-text-height:before {
  content: "\e050";
}

/* line 85, ../sass/base/_glyphicons.scss */
.glyphicon-text-width:before {
  content: "\e051";
}

/* line 86, ../sass/base/_glyphicons.scss */
.glyphicon-align-left:before {
  content: "\e052";
}

/* line 87, ../sass/base/_glyphicons.scss */
.glyphicon-align-center:before {
  content: "\e053";
}

/* line 88, ../sass/base/_glyphicons.scss */
.glyphicon-align-right:before {
  content: "\e054";
}

/* line 89, ../sass/base/_glyphicons.scss */
.glyphicon-align-justify:before {
  content: "\e055";
}

/* line 90, ../sass/base/_glyphicons.scss */
.glyphicon-list:before {
  content: "\e056";
}

/* line 91, ../sass/base/_glyphicons.scss */
.glyphicon-indent-left:before {
  content: "\e057";
}

/* line 92, ../sass/base/_glyphicons.scss */
.glyphicon-indent-right:before {
  content: "\e058";
}

/* line 93, ../sass/base/_glyphicons.scss */
.glyphicon-facetime-video:before {
  content: "\e059";
}

/* line 94, ../sass/base/_glyphicons.scss */
.glyphicon-picture:before {
  content: "\e060";
}

/* line 95, ../sass/base/_glyphicons.scss */
.glyphicon-map-marker:before {
  content: "\e062";
}

/* line 96, ../sass/base/_glyphicons.scss */
.glyphicon-adjust:before {
  content: "\e063";
}

/* line 97, ../sass/base/_glyphicons.scss */
.glyphicon-tint:before {
  content: "\e064";
}

/* line 98, ../sass/base/_glyphicons.scss */
.glyphicon-edit:before {
  content: "\e065";
}

/* line 99, ../sass/base/_glyphicons.scss */
.glyphicon-share:before {
  content: "\e066";
}

/* line 100, ../sass/base/_glyphicons.scss */
.glyphicon-check:before {
  content: "\e067";
}

/* line 101, ../sass/base/_glyphicons.scss */
.glyphicon-move:before {
  content: "\e068";
}

/* line 102, ../sass/base/_glyphicons.scss */
.glyphicon-step-backward:before {
  content: "\e069";
}

/* line 103, ../sass/base/_glyphicons.scss */
.glyphicon-fast-backward:before {
  content: "\e070";
}

/* line 104, ../sass/base/_glyphicons.scss */
.glyphicon-backward:before {
  content: "\e071";
}

/* line 105, ../sass/base/_glyphicons.scss */
.glyphicon-play:before {
  content: "\e072";
}

/* line 106, ../sass/base/_glyphicons.scss */
.glyphicon-pause:before {
  content: "\e073";
}

/* line 107, ../sass/base/_glyphicons.scss */
.glyphicon-stop:before {
  content: "\e074";
}

/* line 108, ../sass/base/_glyphicons.scss */
.glyphicon-forward:before {
  content: "\e075";
}

/* line 109, ../sass/base/_glyphicons.scss */
.glyphicon-fast-forward:before {
  content: "\e076";
}

/* line 110, ../sass/base/_glyphicons.scss */
.glyphicon-step-forward:before {
  content: "\e077";
}

/* line 111, ../sass/base/_glyphicons.scss */
.glyphicon-eject:before {
  content: "\e078";
}

/* line 112, ../sass/base/_glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 113, ../sass/base/_glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* line 114, ../sass/base/_glyphicons.scss */
.glyphicon-plus-sign:before {
  content: "\e081";
}

/* line 115, ../sass/base/_glyphicons.scss */
.glyphicon-minus-sign:before {
  content: "\e082";
}

/* line 116, ../sass/base/_glyphicons.scss */
.glyphicon-remove-sign:before {
  content: "\e083";
}

/* line 117, ../sass/base/_glyphicons.scss */
.glyphicon-ok-sign:before {
  content: "\e084";
}

/* line 118, ../sass/base/_glyphicons.scss */
.glyphicon-question-sign:before {
  content: "\e085";
}

/* line 119, ../sass/base/_glyphicons.scss */
.glyphicon-info-sign:before {
  content: "\e086";
}

/* line 120, ../sass/base/_glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087";
}

/* line 121, ../sass/base/_glyphicons.scss */
.glyphicon-remove-circle:before {
  content: "\e088";
}

/* line 122, ../sass/base/_glyphicons.scss */
.glyphicon-ok-circle:before {
  content: "\e089";
}

/* line 123, ../sass/base/_glyphicons.scss */
.glyphicon-ban-circle:before {
  content: "\e090";
}

/* line 124, ../sass/base/_glyphicons.scss */
.glyphicon-arrow-left:before {
  content: "\e091";
}

/* line 125, ../sass/base/_glyphicons.scss */
.glyphicon-arrow-right:before {
  content: "\e092";
}

/* line 126, ../sass/base/_glyphicons.scss */
.glyphicon-arrow-up:before {
  content: "\e093";
}

/* line 127, ../sass/base/_glyphicons.scss */
.glyphicon-arrow-down:before {
  content: "\e094";
}

/* line 128, ../sass/base/_glyphicons.scss */
.glyphicon-share-alt:before {
  content: "\e095";
}

/* line 129, ../sass/base/_glyphicons.scss */
.glyphicon-resize-full:before {
  content: "\e096";
}

/* line 130, ../sass/base/_glyphicons.scss */
.glyphicon-resize-small:before {
  content: "\e097";
}

/* line 131, ../sass/base/_glyphicons.scss */
.glyphicon-exclamation-sign:before {
  content: "\e101";
}

/* line 132, ../sass/base/_glyphicons.scss */
.glyphicon-gift:before {
  content: "\e102";
}

/* line 133, ../sass/base/_glyphicons.scss */
.glyphicon-leaf:before {
  content: "\e103";
}

/* line 134, ../sass/base/_glyphicons.scss */
.glyphicon-fire:before {
  content: "\e104";
}

/* line 135, ../sass/base/_glyphicons.scss */
.glyphicon-eye-open:before {
  content: "\e105";
}

/* line 136, ../sass/base/_glyphicons.scss */
.glyphicon-eye-close:before {
  content: "\e106";
}

/* line 137, ../sass/base/_glyphicons.scss */
.glyphicon-warning-sign:before {
  content: "\e107";
}

/* line 138, ../sass/base/_glyphicons.scss */
.glyphicon-plane:before {
  content: "\e108";
}

/* line 139, ../sass/base/_glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109";
}

/* line 140, ../sass/base/_glyphicons.scss */
.glyphicon-random:before {
  content: "\e110";
}

/* line 141, ../sass/base/_glyphicons.scss */
.glyphicon-comment:before {
  content: "\e111";
}

/* line 142, ../sass/base/_glyphicons.scss */
.glyphicon-magnet:before {
  content: "\e112";
}

/* line 143, ../sass/base/_glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 144, ../sass/base/_glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 145, ../sass/base/_glyphicons.scss */
.glyphicon-retweet:before {
  content: "\e115";
}

/* line 146, ../sass/base/_glyphicons.scss */
.glyphicon-shopping-cart:before {
  content: "\e116";
}

/* line 147, ../sass/base/_glyphicons.scss */
.glyphicon-folder-close:before {
  content: "\e117";
}

/* line 148, ../sass/base/_glyphicons.scss */
.glyphicon-folder-open:before {
  content: "\e118";
}

/* line 149, ../sass/base/_glyphicons.scss */
.glyphicon-resize-vertical:before {
  content: "\e119";
}

/* line 150, ../sass/base/_glyphicons.scss */
.glyphicon-resize-horizontal:before {
  content: "\e120";
}

/* line 151, ../sass/base/_glyphicons.scss */
.glyphicon-hdd:before {
  content: "\e121";
}

/* line 152, ../sass/base/_glyphicons.scss */
.glyphicon-bullhorn:before {
  content: "\e122";
}

/* line 153, ../sass/base/_glyphicons.scss */
.glyphicon-bell:before {
  content: "\e123";
}

/* line 154, ../sass/base/_glyphicons.scss */
.glyphicon-certificate:before {
  content: "\e124";
}

/* line 155, ../sass/base/_glyphicons.scss */
.glyphicon-thumbs-up:before {
  content: "\e125";
}

/* line 156, ../sass/base/_glyphicons.scss */
.glyphicon-thumbs-down:before {
  content: "\e126";
}

/* line 157, ../sass/base/_glyphicons.scss */
.glyphicon-hand-right:before {
  content: "\e127";
}

/* line 158, ../sass/base/_glyphicons.scss */
.glyphicon-hand-left:before {
  content: "\e128";
}

/* line 159, ../sass/base/_glyphicons.scss */
.glyphicon-hand-up:before {
  content: "\e129";
}

/* line 160, ../sass/base/_glyphicons.scss */
.glyphicon-hand-down:before {
  content: "\e130";
}

/* line 161, ../sass/base/_glyphicons.scss */
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

/* line 162, ../sass/base/_glyphicons.scss */
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

/* line 163, ../sass/base/_glyphicons.scss */
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

/* line 164, ../sass/base/_glyphicons.scss */
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

/* line 165, ../sass/base/_glyphicons.scss */
.glyphicon-globe:before {
  content: "\e135";
}

/* line 166, ../sass/base/_glyphicons.scss */
.glyphicon-wrench:before {
  content: "\e136";
}

/* line 167, ../sass/base/_glyphicons.scss */
.glyphicon-tasks:before {
  content: "\e137";
}

/* line 168, ../sass/base/_glyphicons.scss */
.glyphicon-filter:before {
  content: "\e138";
}

/* line 169, ../sass/base/_glyphicons.scss */
.glyphicon-briefcase:before {
  content: "\e139";
}

/* line 170, ../sass/base/_glyphicons.scss */
.glyphicon-fullscreen:before {
  content: "\e140";
}

/* line 171, ../sass/base/_glyphicons.scss */
.glyphicon-dashboard:before {
  content: "\e141";
}

/* line 172, ../sass/base/_glyphicons.scss */
.glyphicon-paperclip:before {
  content: "\e142";
}

/* line 173, ../sass/base/_glyphicons.scss */
.glyphicon-heart-empty:before {
  content: "\e143";
}

/* line 174, ../sass/base/_glyphicons.scss */
.glyphicon-link:before {
  content: "\e144";
}

/* line 175, ../sass/base/_glyphicons.scss */
.glyphicon-phone:before {
  content: "\e145";
}

/* line 176, ../sass/base/_glyphicons.scss */
.glyphicon-pushpin:before {
  content: "\e146";
}

/* line 177, ../sass/base/_glyphicons.scss */
.glyphicon-usd:before {
  content: "\e148";
}

/* line 178, ../sass/base/_glyphicons.scss */
.glyphicon-gbp:before {
  content: "\e149";
}

/* line 179, ../sass/base/_glyphicons.scss */
.glyphicon-sort:before {
  content: "\e150";
}

/* line 180, ../sass/base/_glyphicons.scss */
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

/* line 181, ../sass/base/_glyphicons.scss */
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

/* line 182, ../sass/base/_glyphicons.scss */
.glyphicon-sort-by-order:before {
  content: "\e153";
}

/* line 183, ../sass/base/_glyphicons.scss */
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

/* line 184, ../sass/base/_glyphicons.scss */
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

/* line 185, ../sass/base/_glyphicons.scss */
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

/* line 186, ../sass/base/_glyphicons.scss */
.glyphicon-unchecked:before {
  content: "\e157";
}

/* line 187, ../sass/base/_glyphicons.scss */
.glyphicon-expand:before {
  content: "\e158";
}

/* line 188, ../sass/base/_glyphicons.scss */
.glyphicon-collapse-down:before {
  content: "\e159";
}

/* line 189, ../sass/base/_glyphicons.scss */
.glyphicon-collapse-up:before {
  content: "\e160";
}

/* line 190, ../sass/base/_glyphicons.scss */
.glyphicon-log-in:before {
  content: "\e161";
}

/* line 191, ../sass/base/_glyphicons.scss */
.glyphicon-flash:before {
  content: "\e162";
}

/* line 192, ../sass/base/_glyphicons.scss */
.glyphicon-log-out:before {
  content: "\e163";
}

/* line 193, ../sass/base/_glyphicons.scss */
.glyphicon-new-window:before {
  content: "\e164";
}

/* line 194, ../sass/base/_glyphicons.scss */
.glyphicon-record:before {
  content: "\e165";
}

/* line 195, ../sass/base/_glyphicons.scss */
.glyphicon-save:before {
  content: "\e166";
}

/* line 196, ../sass/base/_glyphicons.scss */
.glyphicon-open:before {
  content: "\e167";
}

/* line 197, ../sass/base/_glyphicons.scss */
.glyphicon-saved:before {
  content: "\e168";
}

/* line 198, ../sass/base/_glyphicons.scss */
.glyphicon-import:before {
  content: "\e169";
}

/* line 199, ../sass/base/_glyphicons.scss */
.glyphicon-export:before {
  content: "\e170";
}

/* line 200, ../sass/base/_glyphicons.scss */
.glyphicon-send:before {
  content: "\e171";
}

/* line 201, ../sass/base/_glyphicons.scss */
.glyphicon-floppy-disk:before {
  content: "\e172";
}

/* line 202, ../sass/base/_glyphicons.scss */
.glyphicon-floppy-saved:before {
  content: "\e173";
}

/* line 203, ../sass/base/_glyphicons.scss */
.glyphicon-floppy-remove:before {
  content: "\e174";
}

/* line 204, ../sass/base/_glyphicons.scss */
.glyphicon-floppy-save:before {
  content: "\e175";
}

/* line 205, ../sass/base/_glyphicons.scss */
.glyphicon-floppy-open:before {
  content: "\e176";
}

/* line 206, ../sass/base/_glyphicons.scss */
.glyphicon-credit-card:before {
  content: "\e177";
}

/* line 207, ../sass/base/_glyphicons.scss */
.glyphicon-transfer:before {
  content: "\e178";
}

/* line 208, ../sass/base/_glyphicons.scss */
.glyphicon-cutlery:before {
  content: "\e179";
}

/* line 209, ../sass/base/_glyphicons.scss */
.glyphicon-header:before {
  content: "\e180";
}

/* line 210, ../sass/base/_glyphicons.scss */
.glyphicon-compressed:before {
  content: "\e181";
}

/* line 211, ../sass/base/_glyphicons.scss */
.glyphicon-earphone:before {
  content: "\e182";
}

/* line 212, ../sass/base/_glyphicons.scss */
.glyphicon-phone-alt:before {
  content: "\e183";
}

/* line 213, ../sass/base/_glyphicons.scss */
.glyphicon-tower:before {
  content: "\e184";
}

/* line 214, ../sass/base/_glyphicons.scss */
.glyphicon-stats:before {
  content: "\e185";
}

/* line 215, ../sass/base/_glyphicons.scss */
.glyphicon-sd-video:before {
  content: "\e186";
}

/* line 216, ../sass/base/_glyphicons.scss */
.glyphicon-hd-video:before {
  content: "\e187";
}

/* line 217, ../sass/base/_glyphicons.scss */
.glyphicon-subtitles:before {
  content: "\e188";
}

/* line 218, ../sass/base/_glyphicons.scss */
.glyphicon-sound-stereo:before {
  content: "\e189";
}

/* line 219, ../sass/base/_glyphicons.scss */
.glyphicon-sound-dolby:before {
  content: "\e190";
}

/* line 220, ../sass/base/_glyphicons.scss */
.glyphicon-sound-5-1:before {
  content: "\e191";
}

/* line 221, ../sass/base/_glyphicons.scss */
.glyphicon-sound-6-1:before {
  content: "\e192";
}

/* line 222, ../sass/base/_glyphicons.scss */
.glyphicon-sound-7-1:before {
  content: "\e193";
}

/* line 223, ../sass/base/_glyphicons.scss */
.glyphicon-copyright-mark:before {
  content: "\e194";
}

/* line 224, ../sass/base/_glyphicons.scss */
.glyphicon-registration-mark:before {
  content: "\e195";
}

/* line 225, ../sass/base/_glyphicons.scss */
.glyphicon-cloud-download:before {
  content: "\e197";
}

/* line 226, ../sass/base/_glyphicons.scss */
.glyphicon-cloud-upload:before {
  content: "\e198";
}

/* line 227, ../sass/base/_glyphicons.scss */
.glyphicon-tree-conifer:before {
  content: "\e199";
}

/* line 228, ../sass/base/_glyphicons.scss */
.glyphicon-tree-deciduous:before {
  content: "\e200";
}

/* line 10, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
/* line 18, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#container #sticky-footer {
  height: 30px;
}

/* line 20, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 30px;
}

/* line 8, ../sass/base/_grid.scss */
div, article, section, p {
  box-sizing: border-box;
}

/* line 12, ../sass/base/_grid.scss */
.container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto !important;
  padding: 20px 1em;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 600px) {
  /* line 19, ../sass/base/_grid.scss */
  .container.reduced {
    width: 50%;
    max-width: 576px;
  }
}

/**
 * $FONT-FACE
 */
@font-face {
  font-family: "Gill Sans";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT.svg#Gill Sans") format("svg");
}
@font-face {
  font-family: "Gill Sans Light";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Light.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Light.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Light.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Light.svg#Gill Sans Light") format("svg");
}
@font-face {
  font-family: "Gill Sans Bold";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Bold.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Bold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Bold.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Bold.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GillSansMT-Bold.svg#Gill Sans Bold") format("svg");
}
@font-face {
  font-family: "Rockwell";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell.svg#Rockwell") format("svg");
}
@font-face {
  font-family: "Rockwell Bold";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell-Bold.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell-Bold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell-Bold.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell-Bold.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/Rockwell-Bold.svg#Rockwell Bold") format("svg");
}
@font-face {
  font-family: "Garamond";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GaramondPremrPro.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GaramondPremrPro.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GaramondPremrPro.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GaramondPremrPro.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/GaramondPremrPro.svg#Garamond") format("svg");
}
@font-face {
  font-family: "Perpetua Titling";
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/PerpetuaTitlingMT-Light.eot");
  src: url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/PerpetuaTitlingMT-Light.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/PerpetuaTitlingMT-Light.woff") format("woff"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/PerpetuaTitlingMT-Light.ttf") format("truetype"), url("/wp-content/themes/sass_wordpress/sass_wordpress/fonts/PerpetuaTitlingMT-Light.svg#Perpetua Titling") format("svg");
}
/* line 106, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * $BASE-TYPOGRAPHY
 */
/* line 16, ../sass/base/_typography.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

/**
 * $LINKS
 */
/* line 24, ../sass/base/_typography.scss */
a {
  color: #364a6f;
  text-decoration: none;
}
/* line 18, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #364a6f;
}
/* line 21, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #364a6f;
}
/* line 24, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #1d283c;
}
/* line 27, ../../../../../../../Users/VincentChan/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #1d283c;
}

/* line 29, ../sass/base/_typography.scss */
a:hover {
  text-decoration: underline;
}

/**
 * $HEADINGS
 */
/* line 36, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.3em;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color: #333333;
}
/* line 46, ../sass/base/_typography.scss */
h1 a, .alpha a,
h2 a, .beta a,
h3 a, .gamma a,
h4 a, .delta a,
h5 a, .epsilon a,
h6 a, .zeta a {
  color: inherit;
  text-decoration: none;
}
/* line 50, ../sass/base/_typography.scss */
h1 a:hover, .alpha a:hover,
h2 a:hover, .beta a:hover,
h3 a:hover, .gamma a:hover,
h4 a:hover, .delta a:hover,
h5 a:hover, .epsilon a:hover,
h6 a:hover, .zeta a:hover {
  color: #364a6f;
  text-decoration: underline;
}

/* line 56, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 1.875em;
  line-height: 1.6em;
  line-height: 2em;
  font-weight: 300;
}

/* line 61, ../sass/base/_typography.scss */
h2, .beta {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 300;
}
/* line 65, ../sass/base/_typography.scss */
h2 a, h2 a:visited, .beta a, .beta a:visited {
  color: #364a6f;
}

/* line 69, ../sass/base/_typography.scss */
h3, .gamma {
  font-size: 1.3125em;
  line-height: 2.28571em;
}
/* line 72, ../sass/base/_typography.scss */
h3 a, h3 a:visited, .gamma a, .gamma a:visited {
  color: #364a6f;
}

/* line 76, ../sass/base/_typography.scss */
h4, .delta {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 79, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}

/* line 83, ../sass/base/_typography.scss */
h6, .zeta {
  font-size: 1em;
  line-height: 1.5em;
}

/**
 * $PARAGRAPHS
 */
/* line 90, ../sass/base/_typography.scss */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  line-height: 1.056em;
  letter-spacing: 0.5px;
}
@media (min-width: 600px) {
  /* line 90, ../sass/base/_typography.scss */
  p,
  blockquote {
    font-size: 1.2em;
    line-height: 1.32em;
  }
}

/* line 97, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em;
}

/**
 * $QUOTES
 */
/* line 105, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  padding: 0 1.5em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border-left-width: 0.625em;
  border-left-style: solid;
  padding-left: 0.875em;
  font-style: italic;
  color: #364a6f;
}
/* line 115, ../sass/base/_typography.scss */
blockquote p {
  margin: 0;
}

/* line 120, ../sass/base/_typography.scss */
q {
  font-style: italic;
}

/**
 *  ALIGNMENT
 */
/* line 128, ../sass/base/_typography.scss */
.right {
  text-align: right;
}

/* line 131, ../sass/base/_typography.scss */
.center {
  text-align: center;
}

/* line 1, ../sass/components/_entry-content.scss */
#content article {
  margin: 0 auto !important;
  padding-bottom: 125px;
  max-width: 900px;
}
/* line 10, ../sass/components/_entry-content.scss */
#content article.right-layout, #content article.post-17 {
  width: 95%;
  margin: 0 auto !important;
  padding-top: 0;
}
@media (min-width: 1152px) {
  /* line 10, ../sass/components/_entry-content.scss */
  #content article.right-layout, #content article.post-17 {
    width: 50%;
    float: right;
  }
}

/* line 1, ../sass/components/_footer.scss */
#footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #f1f1f3;
  border-top: 1px solid #cccccc;
  -moz-transition: height 500ms ease;
  -o-transition: height 500ms ease;
  -webkit-transition: height 500ms ease;
  transition: height 500ms ease;
  -moz-box-shadow: -1px 0px 2px 1px #cccccc;
  -webkit-box-shadow: -1px 0px 2px 1px #cccccc;
  box-shadow: -1px 0px 2px 1px #cccccc;
}
@media (min-width: 600px) {
  /* line 1, ../sass/components/_footer.scss */
  #footer {
    height: 30px;
  }
}
/* line 54, ../sass/components/_footer.scss */
#footer.open {
  height: 140px;
}
@media (min-width: 600px) {
  /* line 54, ../sass/components/_footer.scss */
  #footer.open {
    height: 165px;
  }
}
/* line 62, ../sass/components/_footer.scss */
#footer.open #sc-player-helper .bar.bar-1 {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 65, ../sass/components/_footer.scss */
#footer.open #sc-player-helper .bar.bar-2 {
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
/* line 71, ../sass/components/_footer.scss */
#footer .copyright {
  font-size: 0.875em;
  line-height: 1.71429em;
  position: absolute;
  right: 1em;
  margin-bottom: 0;
  height: 100%;
  line-height: 2em;
}

/* line 1, ../sass/components/_header.scss */
header section#branding {
  max-width: 900px;
  margin: 0 auto !important;
  padding: 20px 0 40px 0;
  font-size: 1.4em;
  line-height: 1.54em;
  text-align: center;
}
@media (min-width: 600px) {
  /* line 1, ../sass/components/_header.scss */
  header section#branding {
    font-size: 1.75em;
    line-height: 1.925em;
  }
}
@media (min-width: 600px) {
  /* line 1, ../sass/components/_header.scss */
  header section#branding {
    padding-top: 60px;
    font-size: 2em;
    line-height: 2.2em;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  /* line 1, ../sass/components/_header.scss */
  header section#branding {
    font-size: 2.5em;
    line-height: 2.75em;
  }
}

@media (min-width: 1152px) {
  /* line 1, ../sass/components/_header.scss */
  header section#branding {
    padding-top: 80px;
    font-size: 2.4em;
    line-height: 2.64em;
  }
}
@media (min-width: 1152px) and (min-width: 600px) {
  /* line 1, ../sass/components/_header.scss */
  header section#branding {
    font-size: 3em;
    line-height: 3.3em;
  }
}

/* line 17, ../sass/components/_header.scss */
header section#branding #site-title {
  width: 100%;
}
/* line 20, ../sass/components/_header.scss */
header section#branding #site-title a {
  max-width: 300px;
  color: #333333;
  text-transform: uppercase;
  display: block;
  line-height: 2em;
  margin: 0 auto;
  border: 3px #333333 solid;
  border-right: 0;
  border-left: 0;
}
@media (min-width: 600px) {
  /* line 20, ../sass/components/_header.scss */
  header section#branding #site-title a {
    max-width: 500px;
  }
}
@media (min-width: 1152px) {
  /* line 20, ../sass/components/_header.scss */
  header section#branding #site-title a {
    max-width: 600px;
  }
}
/* line 38, ../sass/components/_header.scss */
header section#branding #site-title a:hover, header section#branding #site-title a:focus {
  text-decoration: none;
}
/* line 43, ../sass/components/_header.scss */
header section#branding #site-title h1 {
  font-size: 0.8em;
  line-height: 0.88em;
}
@media (min-width: 600px) {
  /* line 43, ../sass/components/_header.scss */
  header section#branding #site-title h1 {
    font-size: 1em;
    line-height: 1.1em;
  }
}

/* line 1, ../sass/components/_messages.scss */
#messages-container {
  position: relative;
  overflow: hidden;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* line 8, ../sass/components/_messages.scss */
#messages-container .messages {
  margin: 20px 1em;
  border: 0;
  padding: 10px 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 1px 0px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 0px #cccccc;
  box-shadow: 1px 1px 1px 0px #cccccc;
  background-color: #fbfaf7;
}
/* line 17, ../sass/components/_messages.scss */
#messages-container #messages-close {
  position: absolute;
  z-index: 20;
  left: 10px;
  top: 10px;
  width: 18px;
  height: 18px;
  background-color: #b33630;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px white solid;
  cursor: pointer;
  -moz-box-shadow: 2px 2px 1px -1px #999999;
  -webkit-box-shadow: 2px 2px 1px -1px #999999;
  box-shadow: 2px 2px 1px -1px #999999;
}
/* line 30, ../sass/components/_messages.scss */
#messages-container #messages-close .bar {
  background-color: white;
  position: absolute;
  left: 1.4px;
  height: 2px;
  width: 80%;
}
/* line 37, ../sass/components/_messages.scss */
#messages-container #messages-close .bar.bar-1 {
  top: 5.5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 41, ../sass/components/_messages.scss */
#messages-container #messages-close .bar.bar-2 {
  top: 5.5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 1, ../sass/components/_navigation.scss */
nav#menu {
  max-width: 900px;
  margin: 0 auto !important;
  text-align: center;
}
/* line 6, ../sass/components/_navigation.scss */
nav#menu ul li {
  font-family: "Perpetua Titling", Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  color: #eaeaea;
  width: 19%;
  display: inline-block;
  font-size: 0.88em;
  line-height: 0.968em;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 600px) {
  /* line 6, ../sass/components/_navigation.scss */
  nav#menu ul li {
    font-size: 1.1em;
    line-height: 1.21em;
  }
}
@media (min-width: 600px) {
  /* line 6, ../sass/components/_navigation.scss */
  nav#menu ul li {
    font-size: 1em;
    line-height: 1.1em;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  /* line 6, ../sass/components/_navigation.scss */
  nav#menu ul li {
    font-size: 1.25em;
    line-height: 1.375em;
  }
}

/* line 19, ../sass/components/_navigation.scss */
nav#menu ul li a {
  display: block;
  padding: 10px 0;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 24, ../sass/components/_navigation.scss */
nav#menu ul li a:hover, nav#menu ul li a:focus {
  text-decoration: none;
}

/* line 1, ../sass/components/_soundcloud.scss */
#container iframe {
  height: 0px !important;
}

/* line 2, ../sass/pages/_live.scss */
.entry-content > p > a {
  font-size: 0.8em;
  line-height: 1.875em;
}
/* line 6, ../sass/pages/_live.scss */
.entry-content table.hc_crse_events_table {
  width: 100%;
}
/* line 9, ../sass/pages/_live.scss */
.entry-content table.hc_crse_events_table td, .entry-content table.hc_crse_events_table td p {
  font-size: 14.4px;
  line-height: 15.84px;
  margin: 0;
  margin-right: 1em;
  padding-bottom: 20px;
  vertical-align: baseline;
}
@media (min-width: 600px) {
  /* line 9, ../sass/pages/_live.scss */
  .entry-content table.hc_crse_events_table td, .entry-content table.hc_crse_events_table td p {
    font-size: 18px;
    line-height: 19.8px;
  }
}

/* line 2, ../sass/pages/_sign-up.scss */
.entry-content form.mc4wp-form {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
/* line 11, ../sass/pages/_sign-up.scss */
.entry-content form.mc4wp-form input {
  margin: 10px auto;
  border: 0;
  padding: 10px 1em;
  max-width: 300px;
}
/* line 17, ../sass/pages/_sign-up.scss */
.entry-content form.mc4wp-form input.submit {
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
  color: white;
  font-family: "Perpetua Titling", Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 0.96em;
  line-height: 1.056em;
}
@media (min-width: 600px) {
  /* line 17, ../sass/pages/_sign-up.scss */
  .entry-content form.mc4wp-form input.submit {
    font-size: 1.2em;
    line-height: 1.32em;
  }
}
/* line 26, ../sass/pages/_sign-up.scss */
.entry-content form.mc4wp-form input.submit:hover, .entry-content form.mc4wp-form input.submit:focus {
  outline: 0;
  text-decoration: none;
  color: #e4e6e1;
  text-shadow: 0 0 5px #e2cf97, 0 0 10px #d9a66f, 0 0 10px #d9a66f, 0 0 20px #9b5531, 0 0 20px #9b5531, 0 0 20px #9b5531, 0 0 40px #946249, 0 0 40px #946249, 0 0 40px #946249, 0 0 40px #946249;
}
