#content article {
    margin: 0 auto !important;
    padding-bottom: 125px;
    max-width: 900px;

    @include breakpoint($full-width) {
        //padding-top: 195px;
    }

    &.right-layout, &.post-17 {
        width: 95%;
        margin: 0 auto !important;
        padding-top: 0;

        @include breakpoint($full-width) {
            width: 50%;
            float: right;
        }
    }
}
