#footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #f1f1f3;
    border-top: 1px solid #cccccc;

    @include transition(height 500ms ease);

    @include box-shadow(-1px 0px 2px 1px #cccccc);

    @include breakpoint($tab) {
        height: 30px;
    }

    // transforming bar element
    //
    // #sc-player-helper {
    //     position: relative;
    //     margin: 0 auto;
    //     width: 40px;
    //     height: 30px;
    //     cursor: pointer;
    //     z-index: 99;
    //
    //
    //     @include breakpoint($player-1) {
    //         display: none;
    //     }
    //
    //     .bar {
    //         position: absolute;
    //         height: 3px;
    //         background-color: white;
    //         @include border-radius(10px);
    //         width: 55%;
    //
    //         @include transition(all 300ms linear);
    //
    //         &.bar-1 {
    //             left: 0;
    //             top: 50%;
    //             @include rotate(-30deg);
    //         }
    //         &.bar-2 {
    //             right: 0;
    //             top: 50%;
    //             @include rotate(30deg);
    //         }
    //     }
    // }

    &.open {
        height: 140px;

        @include breakpoint($tab) {
            height: 165px;
        }

        #sc-player-helper .bar {
            &.bar-1 {
                @include rotate(30deg);
            }
            &.bar-2 {
                @include rotate(-30deg);
            }
        }
    }

    .copyright {
        @include adjust-font-size-to(14px);
        position: absolute;
        right: $horz-spacing-unit;
        margin-bottom: 0;
        height: 100%;
        line-height: 2em;
    }
}
