header section#branding {
    max-width: 900px;
    margin: 0 auto !important;
    padding: ($vert-spacing-unit) 0 ($vert-spacing-unit * 2) 0;
    @include font-size(1.75em);
    text-align: center;

    @include breakpoint($tab) {
        padding-top: $vert-spacing-unit * 3;
        @include font-size(2.5em);
    }
    @include breakpoint($full-width) {
        padding-top: $vert-spacing-unit * 4;
        @include font-size(3em);
    }

    #site-title {
        width: 100%;

        a {
            max-width: 300px;
            color: $base;
            text-transform: uppercase;
            display: block;
            line-height: 2em;
            margin: 0 auto;
            border: 3px $base solid;
            border-right: 0;
            border-left: 0;

            @include breakpoint($tab) {
                max-width: 500px;
            }
            @include breakpoint($full-width) {
                max-width: 600px;
            }

            &:hover, &:focus {
              text-decoration: none;
            }
        }

        h1 {
          //Hack overwrite mysterious 404 adding a H1 tag to the header...
          @include font-size(1em);
        }
    }
}
