#messages-container {
  position: relative;
  //background-color: lighten($secondary, 10%);
  //@include box-shadow(0px 0px 7px -2px #333333 inset);
  overflow: hidden;
  @include transition(all 200ms ease);

  .messages {
    margin: $vert-spacing-unit $horz-spacing-unit;
    border: 0;
    padding: ($vert-spacing-unit * 0.5) ($horz-spacing-unit * 2);
    @include border-radius(5px);
    @include box-shadow(1px 1px 1px 0px #cccccc);
    background-color: lighten(invert($accent), 30%);
  }

  #messages-close {
    position: absolute;
    z-index: 20;
    left: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-color: #b33630;
    @include border-radius(20px);
    border: 2px white solid;
    cursor: pointer;
    @include box-shadow(2px 2px 1px -1px #999999);

    .bar {
      background-color: white;
      position: absolute;
      left: 1.4px;
      height: 2px;
      width: 80%;

      &.bar-1 {
        top: 5.5px;
        @include rotate(45deg);
      }
      &.bar-2 {
        top: 5.5px;
        @include rotate(-45deg);
      }
    }
  }
}
