nav#menu {
    max-width: 900px;
    margin: 0 auto !important;
    text-align: center;

    ul li {
        font-family: $perpetua-titling;
        color: #eaeaea;
        width: 19%;
        display: inline-block;
        @include font-size(1.1em);
        text-transform: uppercase;
        text-align: center;

        @include breakpoint($tab) {
            @include font-size(1.25em);
        }

        a {
            display: block;
            padding: 10px 0;
            @include transition(all 500ms ease);

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}
