.entry-content {
    form.mc4wp-form {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;

        label {
            //@include font-size(1.5em);
        }

        input {
            margin: ($vert-spacing-unit * 0.5) auto;
            border: 0;
            padding: ($vert-spacing-unit * 0.5) $horz-spacing-unit;
            max-width: 300px;

            &.submit {
                background-color: rgba(0,0,0,0.5);
                @include transition(all 300ms ease);
                text-transform: uppercase;
                color: white;
                font-family: $perpetua-titling;

                @include font-size(1.2em);

                &:hover, &:focus {
                    outline: 0;
                    text-decoration: none;
                    color: #e4e6e1;
                    @include text-shadow(
                        0 0 5px #e2cf97,
                        0 0 10px #d9a66f,
                        0 0 10px #d9a66f,
                        0 0 20px #9b5531,
                        0 0 20px #9b5531,
                        0 0 20px #9b5531,
                        0 0 40px #946249,
                        0 0 40px #946249,
                        0 0 40px #946249,
                        0 0 40px #946249
                    );
                }
            }
        }
    }
}
