$futuraCondMedium: "Futura-CondensedMedium", 'Trebuchet MS', Arial, sans-serif;
$futuraCondBold: "Futura-CondensedBold", 'Trebuchet MS Bold', Arial, sans-serif;

$base-font-size: 16px;
$base-line-height: 24px;
