<h1>Register</h1>

<p>Register a new user:</p>
<?php
echo $this->Form->create('User');
echo $this->Form->input('username');
echo $this->Form->label('password');
echo $this->Form->password('password');
echo $this->Form->label('confirm password');
echo $this->Form->password('password_confirm');
echo $this->Form->end('register');
?>
