@mixin font-face($family, $src) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.eot'); // IE9 compat
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
    url('#{$src}.woff') format('woff'), // standards
    url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
    url('#{$src}.svg##{$family}') format('svg'); // legacy iOS
  }
}

@mixin font-size($fontsize) {
    font-size: $fontsize * 0.8;
    line-height: 1.1 * $fontsize * 0.8;

    @include breakpoint($tab) {
        font-size: $fontsize;
        line-height: 1.1 * $fontsize;
    }
}
